<template>

    <div class="slds-path slds-path_has-coaching">
        <div class="slds-grid slds-path__track slds-has-overflow">
            <div class="slds-grid slds-path__scroller-container">

                <lightning-button-icon  icon-name="utility:chevronright" 
                                        alternative-text="Show Details" title="Toggle Stage Details"
                                        variant="border-filled"
                                        class="slds-path__trigger"
                                        data-id="detailsToggle"
                                        onclick={toggleCoaching}></lightning-button-icon>

                <div class="slds-path__scroller">
                    <div class="slds-path__scroller_inner">
                        <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">

                            <template for:each={stages} for:item="stage">
                                <li key={stage.Id} class={stage.liClass} role="presentation">
                                    <a aria-selected="false" class={stage.aClass} onclick={handleStageClick} id={stage.Id} data-stageid={stage.Id} role="option" tabindex="-1">
                                        <span class="slds-path__stage">

                                            <lightning-icon icon-name="utility:check" alternative-text="Stage Complete" title="Stage Complete" size="x-small"></lightning-icon>
                                            
                                        </span>
                                        <span class="slds-path__title">{stage.stageName}</span>
                                    </a>
                                </li>
                            </template>

                        </ul>

                        <div class="slds-path__scroll-controls">
                            <lightning-button-icon  icon-name="utility:left" 
                                        alternative-text="Scroll left" title="Scroll left"
                                        variant="border-filled"></lightning-button-icon>

                            <lightning-button-icon  icon-name="utility:right" 
                                        alternative-text="Scroll right" title="Scroll right"
                                        variant="border-filled"></lightning-button-icon>
                                        
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="slds-path__content slds-is-collapsed" id="path-coaching-2">
            <div class="slds-path__coach slds-grid">
                <div class="slds-path__keys">
                    <div class="slds-grid slds-grid_align-spread slds-path__coach-title">
                        <h2>Section Information</h2>
                        <!--<button class="slds-button slds-path__coach-edit slds-text-body_small">Edit</button>-->
                    </div>
                    <div class="slds-form" role="list">
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <div class="slds-form-element slds-form-element_readonly slds-form-element_stacked slds-hint-parent">
                                    <span class="slds-form-element__label">Status</span>
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__static">{stageStatus}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-form__row">
                          <div class="slds-form__item" role="listitem">
                            <div class="slds-form-element slds-form-element_readonly slds-form-element_stacked slds-hint-parent">
                                <span class="slds-form-element__label">Last Modified</span>
                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <a href="#">{stageModBy}</a>
                                        &nbsp;
                                        <lightning-formatted-date-time value={stageModDate} year="numeric" month="numeric" day="numeric" hour="2-digit"
                                                                       minute="2-digit" hour12="false">
                                        </lightning-formatted-date-time>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <!-- This is the guidance section of the path blueprint. This could potentially be used to surface additional help/script text which would persist for the entire section-->
                <!--<div class="slds-path__guidance">
                    <h2 class="slds-path__coach-title">Guidance for Success</h2>
                    <div class="slds-text-longform slds-path__guidance-content">
                      <p>Regularly cross-sell related products using
                        <a href="#">cross-sell tactics and principles</a>.</p>
                      <p>Prepare demo deck using the
                        <a href="#">latest template</a> and review with Marketing and Sales teams. Review demo copy with Legal and Doc team.</p>
                      <p>Look up
                        <a href="#">needs analysis principles</a> and review selling plan with Sales Engineer.</p>
                    </div>
                </div>-->

            </div>
        </div>
    </div>

</template>