/* Custom styling to "disable" a path stage */
a.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
}
.slds-path__nav .slds-is-incomplete.isPaused:before, .slds-path__nav .slds-is-incomplete.isPaused:after {
    background: #ffba90;
}